{
  "svelteStrictMode": true,
  "bracketSameLine": true,
  "tailwindConfig": "./tailwind.config.ts",
  "htmlWhitespaceSensitivity": "ignore",
  "tailwindFunctions": ["clsx", "cn", "twMerge"],
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
